# Python
venv/
__pycache__/
*.pyc
.env

# Node
node_modules/
.next/
dist/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Ignore root models but keep fastapi-backend models
/models/*.pkl
!/fastapi-backend/models/*.pkl

# Local env files
.env.local
.env*.local